video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .addUser-container {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url('https://www.onecalendar.nl/images/onecalendar.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .addUser-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
  }
  
  .addUser-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .addUser-btns {
    margin-top: 32px;
    margin-left: 90px;
  }
  
  .addUser-btns .btn {
    margin: center;
  }

  .addUserSmall-container {
    background: #152238;
    opacity: 0.9;
    height: 80vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    border-radius: 5px 5px 5px 5px;
  }

  .addUserSmall-container > h1 {
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
  }
  
  .addUserSmall-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  #fn {
    font-size: 20px;
  }

  #ln {
    font-size: 20px;
  }

  #loginName {
    font-size: 20px;
  }

  #loginPassword {
    font-size: 20px;
  }

  #loginEmail {
    font-size: 20px;
  }
  
    
  @media screen and (max-width: 960px) {
    .addUser-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .addUser-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .addUser-container > p {
      font-size: 30px;
    }
  
    .addUser-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }

 